<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>

<body>
    <header class="main_header">
        <div class="main_header_top_bar">
            <img src="./images/logo-mercado-liebre.svg" alt="logo" class="logo__mercadoliebre">
            <div class="search_bar">
                <input class="busqueda" type="text" placeholder="buscar productos, marcas"></input>
                <button type="submit" class="boton_busqueda"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
            <h2 class="copy_header">
                <i class="fa-solid fa-hand-holding-dollar"></i> 
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>
        <div class="burger-menu">
                <i class="fas fa-bars"></i>
        </div>
        <nav class="menu">
            <ul class="category_menu">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="login_menu">
                <li><a href="/register.html">Crea tu cuenta</a> <i class="fa-regular fa-id-card"></i></li>
                <li><a href="/login.html">Ingresa</a> <i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="#">Mis compras</a> <i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>
    </header>
    <div class="banner_div">
        <img src="./images/img-home-banner.jpg" alt="banner" class="banner">
    </div>
    <main>

        <h2 class="titulos">Basado en tu última visita</h2>

        <section class="section_main">
            <article>
            <img src="./images/img-cafetera-moulinex.jpg" alt="cafetera" class="imagen__producto">
                <div class="info__producto">
                    <i class="fa-solid fa-truck" style="color: #42ae52;"></i>
                    <p class="precios">$6.770</p>
                    <p class="ofertas">40% off</p>
                    <h4 class="descripcion">Cafetera Moulinex</h4>
                </div>
            </article>

            <article>
            <img src="./images/img-macbook-pro-2019.jpg" alt="MacBook" class="imagen__producto">
                <div class="info__producto">
                    <i class="fa-solid fa-truck" style="color: #42ae52;"></i>
                    <p class="precios">$230.000</p>
                    <p class="ofertas">20% off</p>
                    <h4 class="descripcion">MacBook Pro 2019</h4>
                </div>
            </article>

            <article>
            <img src="./images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy" class="imagen__producto">
                <div class="info__producto">
                    <i class="fa-solid fa-truck" style="color: #42ae52;"></i>
                    <p class="precios">$70.500</p>
                    <p class="ofertas">10% off</p>
                    <h4 class="descripcion">Samsung Galaxy S10</h4>
                </div>
            </article>

            <article>
            <img src="./images/img-tv-samsung-smart.jpg" alt="Samsung Smart TV" class="imagen__producto">
                <div class="info__producto">
                    <i class="fa-solid fa-truck" style="color: #42ae52;"></i>
                    <p class="precios">$23.200</p>
                    <p class="ofertas">5% off</p>
                    <h4 class="descripcion">SmartTv Samsung 43"</h4>
                </div>
            </article>

        </section>

        <h2 class="titulos">Seccion de ofertas</h2>

        <section class="section_main">
            <article>
                <img src="./images/img-cafetera-moulinex.jpg" alt="cafetera" class="imagen__producto">
                    <div class="info__producto">
                        <i class="fa-solid fa-truck" style="color: #42ae52;"></i>
                        <p class="precios">$6.770</p>
                        <p class="ofertas">40% off</p>
                        <h4 class="descripcion">Cafetera Moulinex</h4>
                    </div>
                </article>
    
                <article>
                <img src="./images/img-macbook-pro-2019.jpg" alt="MacBook" class="imagen__producto">
                    <div class="info__producto">
                        <i class="fa-solid fa-truck" style="color: #42ae52;"></i>
                        <p class="precios">$230.000</p>
                        <p class="ofertas">20% off</p>
                        <h4 class="descripcion">MacBook Pro 2019</h4>
                    </div>
                </article>
    
                <article>
                <img src="./images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy" class="imagen__producto">
                    <div class="info__producto">
                        <i class="fa-solid fa-truck" style="color: #42ae52;"></i>
                        <p class="precios">$70.500</p>
                        <p class="ofertas">10% off</p>
                        <h4 class="descripcion">Samsung Galaxy S10</h4>
                    </div>
                </article>
    
                <article>
                <img src="./images/img-tv-samsung-smart.jpg" alt="Samsung Smart TV" class="imagen__producto">
                    <div class="info__producto">
                        <i class="fa-solid fa-truck" style="color: #42ae52;"></i>
                        <p class="precios">$23.200</p>
                        <p class="ofertas">5% off</p>
                        <h4 class="descripcion">SmartTv Samsung 43"</h4>
                    </div>
                </article>

        </section>
    </main>

    <footer>
        <section class="section_footer">
            <i class="fa-solid fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>

            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>

        <section class="section_footer">
            <i class="fa-solid fa-gift"></i>
            <h4>Envío gratis desde $ 2.500</h4>

            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>

        <section class="section_footer">
            <i class="fa-solid fa-user-shield"></i>
            <h4>Seguridad, de principio a fin</h4>

            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>

        <section class="ultima" class="section_footer">
            <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
        </section>
    </footer>
</body>

</html>